/*
  Blue / Yellow color theme
  for stylus (http://stylus-lang.com/)
*/

$color-primary-1 = hsl(205, 100%, 21%)
$color-primary-2 = hsl(205, 87%, 29%)
$color-primary-3 = hsl(205, 82%, 33%)
$color-primary-4 = hsl(205, 76%, 39%)
$color-primary-5 = hsl(205, 67%, 45%)
$color-primary-6 = hsl(205, 65%, 55%)
$color-primary-7 = hsl(205, 74%, 65%)
$color-primary-8 = hsl(205, 84%, 74%)
$color-primary-9 = hsl(205, 97%, 85%)
$color-primary-10 = hsl(205, 79%, 92%)

$color-yellow-1 = hsl(15, 86%, 30%)
$color-yellow-2 = hsl(22, 82%, 39%)
$color-yellow-3 = hsl(29, 80%, 44%)
$color-yellow-4 = hsl(36, 77%, 49%)
$color-yellow-5 = hsl(42, 87%, 55%)
$color-yellow-6 = hsl(44, 92%, 63%)
$color-yellow-7 = hsl(48, 94%, 68%)
$color-yellow-8 = hsl(48, 95%, 76%)
$color-yellow-9 = hsl(48, 100%, 88%)
$color-yellow-10 = hsl(49, 100%, 96%)  

$color-gray-1 = hsl(209, 61%, 16%)
$color-gray-2 = hsl(211, 39%, 23%)
$color-gray-3 = hsl(209, 34%, 30%)
$color-gray-4 = hsl(209, 28%, 39%)
$color-gray-5 = hsl(210, 22%, 49%)
$color-gray-6 = hsl(209, 23%, 60%)
$color-gray-7 = hsl(211, 27%, 70%)
$color-gray-8 = hsl(210, 31%, 80%)
$color-gray-9 = hsl(212, 33%, 89%)
$color-gray-10 = hsl(210, 36%, 96%

$color-support-cyan-1 = hsl(184, 91%, 17%)
$color-support-cyan-2 = hsl(185, 84%, 25%)
$color-support-cyan-3 = hsl(185, 81%, 29%)
$color-support-cyan-4 = hsl(184, 77%, 34%)
$color-support-cyan-5 = hsl(185, 62%, 45%)
$color-support-cyan-6 = hsl(360, 64%, 55%)
$color-support-cyan-7 = hsl(360, 71%, 66%)
$color-support-cyan-8 = hsl(360, 77%, 78%)
$color-support-cyan-9 = hsl(360, 82%, 89%)
$color-support-cyan-10 = hsl(360, 100%, 97%)

$color-support-red-1 = hsl(360, 92%, 20%)
$color-support-red-2 = hsl(360, 85%, 25%)
$color-support-red-3 = hsl(360, 79%, 32%)
$color-support-red-4 = hsl(360, 72%, 38%)
$color-support-red-5 = hsl(360, 67%, 44%)
$color-support-red-6 = hsl(360, 64%, 55%)
$color-support-red-7 = hsl(360, 71%, 66%)
$color-support-red-8 = hsl(360, 77%, 78%)
$color-support-red-9 = hsl(360, 82%, 89%)
$color-support-red-10 = hsl(360, 100%, 97%)